@mixin button {
  border: 0;
  color: whitesmoke;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.container {
  border: solid whitesmoke 1px;
  border-radius: 10px;
  background: deepskyblue;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  font: 24px bold;
  box-shadow: black 4px 4px 5px;

  .delete-button {
    @include button;
    background: red;
  }

  .start-button {
    @include button;
    background: green;
    margin-right: 0.5rem;
  }
}

