.container {
  margin-top: 2rem;
  border: solid whitesmoke 1px;
  border-radius: 10px;
  background: deepskyblue;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  font-size: 24px;
  font-weight: bold;
  box-shadow: black 4px 4px 5px;

  .delete-button {
    background: red;
    border: 0;
    color: whitesmoke;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
  }

}
