<div class="container">
  <div class="content">
    <p appCategory [category]="quiz.kategoria" class="kategoria">{{ quiz.kategoria }}</p>
    <h2>{{ quiz.nazwa | titlecase }}</h2>
    <small>Wygasa {{ dateUtil.toFormattedString(quiz.dataWygasniecia) }}</small>
  </div>

  <div class="buttons">
    <button
      type="button"
      class="start-button"
      (click)="startQuiz()"
      [hidden]="dateUtil.getActualDate() >= quiz.dataWygasniecia"
    >Rozpocznij quiz</button>
    <button type="button" class="edit-button" (click)="editQuiz()">Edytuj quiz</button>
    <button type="button" class="delete-button" (click)="deleteQuiz()">Usuń quiz</button>
  </div>
</div>
