@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@mixin button {
  border: 0;
  color: whitesmoke;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.container {
  border: solid whitesmoke 1px;
  border-radius: 10px;
  background: #504099;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  font: 24px bold;
  box-shadow: black 4px 4px 5px;
  font-family: 'Inter', sans-serif;

  .delete-button {
    @include button;
    background: #504099;
    border: solid whitesmoke 1px;
    box-shadow: black 2px 2px 2px;
  }
  .delete-button:hover {
    @include button;
    background: red;
    border: solid whitesmoke 1px;
  }

  .start-button {
    @include button;
    background: #504099;
    border: solid whitesmoke 1px;
    box-shadow: black 2px 2px 2px;
    margin-right: 0.5rem;
  }
  .start-button:hover {
    @include button;
    border: solid whitesmoke 1px;
    background: green;
    margin-right: 0.5rem;
  }
}

