<div class="container">
  <h1>Stworz QUIZ</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
    <label>Podaj nazwe</label><br>
    <input type="text" formControlName="nazwa"><br>
    <label>Wybierz kategorie</label><br>
    <select formControlName="kategoria">
      <option *ngFor="let kategoriaEl of kategorie" [value]="kategoriaEl">{{kategoriaEl}}</option>
    </select><br>
    <label>Wybierz date wygaśnięcia</label><br>
    <input type="date" formControlName="dataWygasniecia"><br>

    <ng-container formArrayName="pytania">
      <ng-container *ngFor="let pytanieForm of pytania.controls; let i=index" [formGroupName]="i">
          <h2>Pytanie numer {{i+1}}</h2>
          <label>Podaj treść</label><br>
          <input type="text" formControlName="tresc"><br>
          <label>Podaj odpowiedzi</label><br>
          <input type="text" formControlName="odp1"><br>
          <input type="text" formControlName="odp2"><br>
          <input type="text" formControlName="odp3"><br>
          <input type="text" formControlName="odp4"><br>
          <label>Podaj numer poprawnej odpowiedzi</label><br>
          <input type="number" [disabled]="form.invalid" formControlName="nrPoprawnejOdp"><br>
          <button type="button" class="btn" (click)="removePytanie(i)">Usuń pytanie</button><br>
      </ng-container>
    </ng-container>
    <div class="btnContainer">
      <button type="button" class="btn" (click)="addPytanie()">Dodaj pytanie</button>
      <button type="submit" class="btn" [disabled]=form.invalid>Wyślij</button>
      <button type="button" class="btn" (click)="return()">Powrót</button>
    </div>
    
  </form>
</div>
