.container {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background: #504099;
  text-align: center;
  color: whitesmoke;
  padding: 2rem;
  font-size: 24px;
  font-weight: bold;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.btn {
  color: whitesmoke;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  width: fit-content;
  background: #504099;
  border: solid whitesmoke 1px;
  box-shadow: black 2px 2px 2px;
  margin: 10px;
}
