.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1.5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background: #504099;
  text-align: center;
  color: whitesmoke;
  padding: 2rem;

}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.btn {
  color: whitesmoke;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  width: fit-content;
  background: #504099;
  border: solid whitesmoke 1px;
  box-shadow: black 2px 2px 2px;
  margin: 10px;
  
}
.btn:hover{
  background: #473886;
}
.btn:disabled {
  background: #b99aff;
  cursor: not-allowed;
  border: solid #a0a0a0 1px;
  box-shadow: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

form input{
  max-width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
}

form select{
  min-width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
}

label{
  font-size: 24px;
  font-weight: bold;
  text-align: start !important;
}