.container {
  margin-top: 0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: deepskyblue;
  text-align: center;
  padding: 2rem;
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
}
