/* You can add global styles to this file, and also import other style files */
$background-color: #313866;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body, html {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #313866;
  overflow-x: hidden;

}

body::-webkit-scrollbar {
    display: none;
}