.odpowiedz {
  text-align: center;
  height: 150px;
  width: 250px;
  cursor: pointer;
  background-color: #504099;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  border: solid whitesmoke 1px;
  box-shadow: black 2px 2px 2px;
}

.odpowiedz-poprawna {
  background: green;
}

.odpowiedz-niepoprawna {
  background: red;
}
