.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2rem;
  padding-top: 9%;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .pytanie-tresc {
    text-align: center;
    color: white;
  }

  .odpowiedzi-container {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px;
    grid-row: auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    .odpowiedz {
      cursor: pointer;
      background-color: #504099;
      border-radius: 10px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 28px;
      border: solid whitesmoke 1px;
      box-shadow: black 2px 2px 2px;
    }
  }

  .koniec {
    font-size: 5rem;
    text-align: center;
    color: whitesmoke;
  }

  .wynik {
    text-align: center;
    color: whitesmoke;
  }

  .back-button {
    color: whitesmoke;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    width: fit-content;
    background: #504099;
    border: solid whitesmoke 1px;
    box-shadow: black 2px 2px 2px;
    margin: 0 auto;
  }

  .back-button:hover {
    background: blue;
  }
}
