.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: deepskyblue;
  padding: 2rem;

  .pytanie-tresc {
    text-align: center;
    color: whitesmoke;
  }

  .odpowiedzi-container {
    margin: 80px auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px;
    grid-row: auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    .odpowiedz {
      cursor: pointer;
      background-color: #333;
      border-radius: 10px;
      color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 28px;
    }
  }
}
