<!-- quiz in progress -->
<div *ngIf="pytanieIndex < quiz.pytania.length" class="container">
  <h1 class="pytanie-tresc">{{ aktualnePytanie.tresc }}</h1>
  <div class="odpowiedzi-container">
    <app-answer-button
      *ngFor="let odpowiedz of aktualnePytanie.odpowiedzi; let i = index"
      (userChoseAnswer)="chooseAnswer($event)"
      [tresc]="odpowiedz"
      [index]="i"
      [czyPoprawna]="aktualnePytanie.poprawnaOdpowiedz === i"
      [chosenAnswer]="chosenAnswer"
    >
    </app-answer-button>
  </div>
  <button
    class="btn"
    [hidden]="chosenAnswer === -1"
    (click)="setNextQuestion()"
    >Następne pytanie</button>
</div>

<!-- quiz have ended -->
@if(pytanieIndex == quiz.pytania.length) {
  <div class="container">
    <h1 class="koniec">Koniec quizu!</h1>
    <h2 class="wynik">Udzieliłeś/aś poprawnej odpowiedzi na {{ poprawneOdpowiedzi }} z {{ quiz.pytania.length }} pytań</h2>
    <button class="btn" type="button" (click)="navigateBack()">Wróć do strony głównej</button>
  </div>
}
